@import url("https://fonts.googleapis.com/css?family=IBM%20Plex%20Sans:500|IBM%20Plex%20Sans:300");

:root {
  --m: 4rem;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #303030;
  color: white;
  font-family: "IBM Plex Sans";
  font-weight: 300;

  display: flex;
  flex-direction: column;

  /* align-items: center; */
  height: 190vh;
  margin: 0;
  color: #d5d5d5;
  font-size: calc(0.3 * var(--m));

  font-size: 16px;
}

/* Header */
header {
  background-color: #303030;
  padding: 2rem;
  text-align: center;
  display: block;
  width: 100%;
  padding-left: 25.8rem;
  z-index: 30;
}

header p {
  color: white;
}

header h1 {
  font-size: 1.75em;
  color: #ffd700;
}

/* Navigation */
nav {
  padding: 1rem;
  text-align: center;
  border: 2px solid #ffd700;
  border-radius: 0.8rem;
  width: 55rem;
  margin: auto;
}

nav a {
  margin: 0 1rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95em;
}

nav a:hover {
  text-decoration: underline;
  color: #ffd700;
}

/* Main Layout */
main {
  position: relative;
  background-color: #303030;
  /* display: flex; */
  margin: 0;
  width: 100%;
  padding-left: 25.8rem;
  z-index: 30;
}

/* Sidebar */
.sidebar {
  background: linear-gradient(120deg, #ff8064, #725bdc);
  width: 250px;
  padding: 2rem;
  padding-left: 0.8rem;
  border: 2px solid #6c48cf;
  border-radius: 0.8rem;
  font-size: 1.2em;
  position: fixed;
  /* position: relative; */
  height: calc(100% - 1.6rem);
  z-index: 50;
  top: 0.8rem;
  left: 0.8rem;
  min-width: 150px;
  color: black;
}

.sidebar .spanline {
  /* background-color: red; */
  height: 10px;
  width: 60px;
}

.sidebar h2 {
  font-size: 2em;
  color: #ffffff;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding-left: 1rem;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  color: blue;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
  color: #ffd700;
}

/* welcome */
.welcome {
  text-align: center;
  margin: auto;
  margin-top: 1.5rem;
  /* background-color: #ffffff6b; */
  border-radius: calc(0.5 * var(--m));
  padding: 2rem;
  width: 100%;
}

.content {
  border-radius: calc(0.5 * var(--m));
  align-self: center;
  width: 80%;
  margin: auto;
  padding: 3rem;
  padding-bottom: 0;
}

.content p {
  margin: 1rem 0;
  color: white;
}

.content h4 {
  font-size: 2rem;
}

.card {
  height: calc(8 * var(--m));
  width: calc(12 * var(--m));
  background: linear-gradient(120deg, #ff8064, #725bdc);
  color: black;
  border-radius: calc(0.5 * var(--m));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--m);

  position: fixed;
  margin: calc(2 * var(--m)) calc(5 * var(--m)) calc(5 * var(--m))
    calc(5 * var(--m));
}

button {
  background-color: #000;
  font-size: calc(0.4 * var(--m));
  border: none;
  color: #e5e5e5;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  padding: calc(0.35 * var(--m)) calc(0.8 * var(--m));
  border-radius: calc(0.3 * var(--m));
}

footer {

  z-index: 500;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 5rem 2vw;
  position: relative;
}

footer h1 {
  font-size: 6rem;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.6) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 1) 50%,
    rgb(0, 0, 0)
  );
  z-index: -7;
}

.backdrop {
  z-index: -5;
  position: absolute;
  inset: 0;

  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 1) 30%,
    rgb(0, 0, 0)
  );

  -webkit-mask-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 1) 30%,
    rgb(0, 0, 0)
  );
}

.col {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
  width: 28%;
}

.col2,
.col3 {
  background-color: #121212;
  border-radius: calc(0.5 * var(--m));
}

img {
  height: calc(0.3 * var(--m));
  object-fit: cover;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.link {
  width: calc(0.8 * var(--m));
  height: calc(0.8 * var(--m));
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: calc(0.1 * var(--m));

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 3rem;
  }
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    padding: 5rem 20vw;
  }
  .col {
    width: 100%;
  }
}
